{
	"semi": false,
	"printWidth": 80,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"bracketSpacing": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": { "singleQuote": false }
    }
  ]
}
