{
  "extends": [
		"stylelint-config-standard",
		"stylelint-config-sass-guidelines"
  ],
  "defaultSeverity": "warning",
  "rules": {
    "color-no-invalid-hex": true,
    "color-hex-case": [
      "lower",
      {
        "message": "Lowercase letters are easier to distinguish from numbers"
      }
    ],
    "string-quotes": "double",
		"max-nesting-depth": 4,
    "max-empty-lines": 2,
		"at-rule-semicolon-newline-after": "always",
    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": "always-single-line",
    "block-closing-brace-newline-before": "always-multi-line",
    "block-closing-brace-space-before": "always-single-line",
    "block-opening-brace-newline-after": "always-multi-line",
    "block-opening-brace-space-after": "always-single-line",
    "block-opening-brace-space-before": "always",
		"order/properties-alphabetical-order": null,
		"selector-class-pattern": null,
		"at-rule-empty-line-before": null,
		"no-descending-specificity": null,
    "rule-empty-line-before": [
			"always-multi-line",
			{
				except: ["first-nested"],
				ignore: ["after-comment"]
			}
		],
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"function",
					"if",
					"else",
					"at-root",
					"each",
					"include",
					"mixin",
					"extend",
					"return",
					"for"
				]
			}
		]
  }
}
