@use 'styles/variables' as base;

.portfolio {
  @media (width > base.$smedium) {
    margin: 2rem auto;
  }
  &__grid {
    display: grid;
    grid-gap: var(--portfolio-gap, 2rem);
    @media (width > base.$smedium) {
      --portfolio-gap: 1rem;
      grid-template-columns: repeat(auto-fit, 320px);
      justify-content: center;
      grid-auto-rows: 1fr;
    }
  }
}

.folio {
  padding: 0;
  aspect-ratio: 1;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @media (prefers-color-scheme: dark) {
    border: 1px solid var(--border-color);
  }
  .gatsby-image-wrapper {
    transition: all 0.5s ease-in-out;
    transform: var(--_folio-scale, scale(1));
  }
  &:before {
    transition: all 0.5s ease-in-out;
    content: '';
    position: absolute;
    background-color: var(--_folio-bg, transparent);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media (any-hover: hover) {
    &:hover {
      --_folio-left: 0;
      --_folio-scale: scale(1.05);
      --_folio-bg: rgba(0, 0, 0, 0.7);
    }
  }
  @media (any-hover: none) {
    &:before {
      background: linear-gradient(
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
    .folio__item__cell {
      left: 0;
    }
  }
  img {
    display: block;
    object-fit: cover;
    aspect-ratio: inherit;
  }
  &__link {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: inherit;
  }
}

.folio__item {
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  pointer-events: none;
  left: var(--_folio-left, -100%);
  @media (any-hover: hover) {
    align-items: center;
  }
  @media (any-hover: none) {
    align-items: flex-end;
    padding-bottom: 1rem;
  }
  @media (width > base.$smedium) {
    transition: all 0.5s ease-in-out;
  }
}

.folio__item__cell {
  text-align: center;
  position: relative;
  @media (width <= base.$smedium) {
    margin-top: 5px;
  }
}

.folio__item__title {
  margin-bottom: 0;
  font-size: var(--_folio-title, 1.5rem);
  @media (width > base.$medium) {
    --_folio-title: 2rem;
  }
  a {
    &:after {
      content: '';
      cursor: pointer;
      inset-block: 0;
      inset-inline: 0;
      position: absolute;
    }
  }
}

.folio__item__types {
  margin: 5px 0 0;
  padding: 0 1rem;
  color: rgba(var(--color-white), 0.6);
  font-size: 0.8rem;
  display: inline-block;
  line-height: 1.5;
  max-width: 80%;
  @media (width > base.$medium) {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
}

// Carousel

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel {
  ::-webkit-scrollbar {
    width: 0;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }

  ol,
  li {
    list-style: none;
  }
  position: relative;
  padding-top: 100%;
  perspective: 100px;
  &__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  &__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
  }
  &__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    z-index: 1;
  }
  &__nav {
    position: absolute;
    top: 50%;
    transform: var(--carousel-transform, translateY(-50%));
    font-size: 0;
    outline: 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-image: initial;
    border-width: 0px 5px 5px 0px;
    padding: 3px;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
    &--prev {
      left: 0.8rem;
      --carousel-transform: translateY(-50%) rotate(135deg);
    }

    &--next {
      right: 0.8rem;
      --carousel-transform: translateY(-50%) rotate(-45deg);
    }
  }
}

@media (hover: hover) {
  .carousel__nav:hover {
    border-color: #fff;
  }
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

/**
 * Popup Modal
 * ------------------------------------------------------------------
 */

[data-reach-dialog-overlay] {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--color-black), 0.7);
}

@keyframes slide-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal {
  background: #fff;
  z-index: 5;
  padding: 0;
  position: relative;
  @media (width > base.$medium) {
    max-width: 600px;
    margin: 0 auto;
  }
  @media (width <= base.$medium) {
    width: 90%;
  }
  &[data-reach-dialog-content] {
    animation: slide-down 1s ease;
  }
  &__header {
    padding: 0.3rem 0.3rem 0;
    &[data-slider] > div {
      height: var(--slider-height, 560px);
      @media (width < base.$medium) {
        --slider-height: 310px;
      }
    }
    img {
      width: 100%;
    }
  }

  &__content {
    padding: var(--modal-content, 2rem);
    @media (width < base.$medium) {
      --modal-content: 1.5rem;
    }
    &__name {
      font-size: 1.3rem;
      font-weight: bold;
      color: var(--base-color);
      a {
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      @media (width < base.$smedium) {
        font-size: 80%;
      }
    }
  }
  &__categories {
    font-size: 0.9rem;
    display: block;
    text-align: left;
    color: rgba(var(--color-black), 0.5);
    margin-top: 1rem;
  }
  &__footer {
    display: flex;
    flex-direction: row-reverse;
    background: #000;
    a,
    button {
      font-size: 0.9rem;
      line-height: 4rem;
      color: #fff;
      border: 0;
      background-color: inherit;
      text-transform: uppercase;
      letter-spacing: 3px;
      cursor: pointer;
      display: block;
      text-align: center;
      flex: 1;
      transition: all 0.3s ease-in-out;
      &:first-child {
        border-left: 1px solid rgba(var(--color-white), 0.3);
      }
      &:hover {
        color: #fff;
        background-color: var(--base-color);
        border: none;
      }
    }
  }
}
