.carousel {
  ::-webkit-scrollbar {
    width: 0;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }

  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  position: relative;
  padding-top: 100%;
  perspective: 100px;
  &__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  &__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
  }
  &__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    z-index: 1;
  }
  &__nav {
    position: absolute;
    top: 50%;
    transform: var(--carousel-transform, translateY(-50%));
    font-size: 0;
    outline: 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
    border-image: initial;
    border-width: 0px 5px 5px 0px;
    padding: 3px;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
    &--prev {
      left: 0.8rem;
      --carousel-transform: translateY(-50%) rotate(135deg);
    }

    &--next {
      right: 0.8rem;
      --carousel-transform: translateY(-50%) rotate(-45deg);
    }
  }
}

@media (hover: hover) {
  .carousel__nav:hover {
    border-color: #fff;
  }
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}


@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
