/**
 * ===================================================================
 * 01. reset - normalize
 *
 * -------------------------------------------------------------------
 */

body,
html {
  margin: 0;
  padding: 0;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
/**
 * ===================================================================
 * 02. basic/base setup styles
 *
 * -------------------------------------------------------------------
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * Media
 * -------------------------------------------------------------------
 */
img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * links
 * -------------------------------------------------------------------
 */
a {
  text-decoration: none;
  line-height: inherit;
}
