.theme-toggle {
  --theme-shade: #ffffff4f;
  --color-white: #ffffff;
  position: absolute;
  right: 2rem;
  top: 2rem;
  border-radius: 50%;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  transition: 0.5s all ease;
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
  }
  &--dark {
    transition: all 0.5s ease;
    &:before {
      background-color: var(--theme-shade);
      border-radius: 50%;
      box-shadow: 10px 0 0 -3.5px var(--theme-shade),
        -10px 0 0 -3.5px var(--theme-shade), 0 -10px 0 -3.5px var(--theme-shade),
        0 10px 0 -3.5px var(--theme-shade), 7px -7px 0 -3.5px var(--theme-shade),
        7px 7px 0 -3.5px var(--theme-shade),
        -7px 7px 0 -3.5px var(--theme-shade),
        -7px -7px 0 -3.5px var(--theme-shade);
      height: 10px;
      left: 7px;
      top: 7px;
      width: 10px;
    }
    &:hover {
      transform: scale(1.2);
      &:before {
        background-color: var(--color-white);
        box-shadow: 10px 0 0 -3.5px var(--color-white),
          -10px 0 0 -3.5px var(--color-white),
          0 -10px 0 -3.5px var(--color-white),
          0 10px 0 -3.5px var(--color-white),
          7px -7px 0 -3.5px var(--color-white),
          7px 7px 0 -3.5px var(--color-white),
          -7px 7px 0 -3.5px var(--color-white),
          -7px -7px 0 -3.5px var(--color-white);
      }
    }
  }

  // DARK mode
  &--light {
    background-color: transparent;
    box-shadow: inset 10px -8px 0px -2px var(--theme-shade);
    animation-duration: 0.5s;
    animation-name: moon;
    text-shadow: 10px -8px 0px -2px var(--theme-shade);
    &:hover {
      box-shadow: inset 10px -8px 0px -2px var(--color-white);
      transform: scale(1.2);
    }
  }
}

@keyframes sun {
  from {
    background-color: var(--light-shade);
    box-shadow: 0 0 0 -5px var(--light-shade), 0 0 0 -5px var(--light-shade),
      0 0 0 -5px var(--light-shade), 0 0 0 -5px var(--light-shade),
      0 0 0 -5px var(--light-shade), 0 0 0 -5px var(--light-shade),
      0 0 0 -5px var(--light-shade), 0 0 0 -5px var(--light-shade);
  }
  to {
    background-color: var(--light-shade);
    box-shadow: 10px 0 0 -3.5px var(--light-shade),
      -10px 0 0 -3.5px var(--light-shade), 0 -10px 0 -3.5px var(--light-shade),
      0 10px 0 -3.5px var(--light-shade), 7px -7px 0 -3.5px var(--light-shade),
      7px 7px 0 -3.5px var(--light-shade), -7px 7px 0 -3.5px var(--light-shade),
      -7px -7px 0 -3.5px var(--light-shade);
  }
}
