$themes-colors: (
  light: (
    --text-color: #313131,
    --text-color-invert: #fff,
    --border-color: rgba(var(--color-black), 0.2),
    --bg-odd: #fff,
    --bg-even: #f5f5f5,
    color: var(--text-color)
  ),
  dark: (
    --text-color: #f1f1f1,
    --text-color-invert: #313131,
    --border-color: rgba(var(--color-white), 0.2),
    --bg-odd: #0f0f0f,
    --bg-even: #000,
    color: var(--text-color)
  )
);

@mixin outputColorsVars($colors) {
  @each $var, $val in $colors {
    #{$var}: #{$val};
  }
}

@each $theme, $colors in $themes-colors {
  [data-theme='#{$theme}'] {
    @include outputColorsVars($colors);
  }
}



