/**
 * ===================================================================
 * @venelin.ca
 *
 * -------------------------------------------------------------------
 */

/*! @{target: critical} */

// :root {
//   --base-color: #ff0100;
//   --color-dark: #313131;
//   --color-light: #444;
//   --page-max-width: 850px;
// }
// /*! {target: critical}@ */

// @import 'base/variables';
// @import 'breakpoints/breakpoint';
@import 'fonts';
@import 'portfolio';
@import 'contacts';

/*! @{target: critical} */
@import 'reset';

html,
body {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Jost', serif;
	//font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	//font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.4;
	color: var(--color-light);
}

/*! {target: critical}@ */

/**
 * ===================================================================
 * Base style
 *
 * -------------------------------------------------------------------
 */

a {
	color: #000;
	transition: all 0.3s ease-in-out;
}
a:hover,
a:focus,
a:active {
	color: var(--base-color);
	outline: 0;
}

/**
 * ===================================================================
 * Typography & general theme styles
 *
 * -------------------------------------------------------------------
 */
h1, h2, h3, h4, h5, h6{
	//font-family: sans-serif;
	font-family: 'League Spartan',sans-serif;
	color: var(--color-dark);
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 1.5rem;
}

h2 {
	text-transform: uppercase;
	color: var(--base-color);
	letter-spacing: .2rem;
	white-space: nowrap;
}

h3 {
	@include breakpoint($smedium + 1) {
		font-size: 2rem;
	}
	@include breakpoint(0 $smedium) {
		font-size: 1.5rem;
	}
}


/**
 * ===================================================================
 * Common styles
 *
 * -------------------------------------------------------------------
 */
.grey-section {
	background: #ebebeb;
	p.lead {
		color: #7d7d7d;
	}
}
.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3rem;
}

/**
 * responsive:
 * common styles
 * -------------------------------------------------------------------
 */
.section {
	padding: 3rem 1rem;
	&:nth-child(odd) {
		background-color: #fff;
	}
	&:nth-child(even) {
		background-color: #f5f5f5;
	}
}



.intro__social {
	display: flex;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 4rem;
	margin: 0;
	padding: 0;
	justify-content: center;;
	li {
		display: inline-block;
		margin: 0 1rem;
		padding: 0;
	}
	a {
		color: rgba(255, 255, 255, 0.8);
		fill: rgba(255, 255, 255, 0.8);
	}
	svg {
		fill: inherit;
    width: 2rem;
    height: 2rem;
  	@include breakpoint($smedium + 1) {
			width: 2rem;
	    height: 2rem;
    }
    @include breakpoint(0 $smedium) {
    	width: 1.5rem;
    	height: 1.5rem;
    }
	}
	.isPhone & {
  	@include breakpoint($landscape) {
  		bottom: 1rem;
  	}
  }
}
/*! {target: critical}@ */


.intro__social {
	a {
		&:hover,
		&:focus {
			color: var(--base-color);
			fill: var(--base-color);
		}
	}
}






/**
 * ===================================================================
 * Footer
 *
 * -------------------------------------------------------------------
 */
footer {
	font-family: sans-serif;
	text-align: center;
}

.copyright {
	padding: 10px;
	text-align: center;
	background-color: #151515;
	font-size: .8rem;
    color: rgba(#fff, .8);
}

/**
 * ===================================================================
 * Misc Helper Styles
 *
 * -------------------------------------------------------------------
 */

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.sr-only {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}


/**
 * loader animation
 * ---------------------------------------------------------------
 */
.s-loader {
	margin: 1.2rem auto 3rem;
	width: 70px;
	text-align: center;
	transform: translateX(0.45rem);
	> div {
		width: 1rem;
		height: 1rem;
		background-color: #FFFFFF;
		border-radius: 100%;
		display: inline-block;
		margin-right: .9rem;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}
	.bounce1 {
		animation-delay: -0.32s;
	}
	.bounce2 {
		animation-delay: -0.16s;
	}
}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}
@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}
