@use 'styles/variables' as base;

.resume__header {
  text-align: center;
}

.timeline {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  &__wrap {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 4rem;

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background: var(--border-color);
      position: absolute;
      top: 20px;
      left: var(--timeline-left, 2rem);
      @media (width > base.$smedium) {
        --timeline-left: 287px;
      }
    }
  }
  &__exp {
    opacity: 0.6;
    font-weight: bold;
    margin-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 80%;
  }
  // Block
  &__block {
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;

    @media (width <= base.$smedium) {
      flex-wrap: wrap;
    }

    &.hidden {
      display: none;
    }
  }
  // icon
  &__ico {
    background: var(--text-color);
    color: var(--text-color-invert);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .vicon {
      font-size: inherit;
    }

    svg {
      fill: currentColor;
    }

    @media (width > base.$smedium) {
      flex: 0 0 3rem;
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
      margin: -0.3rem 1.5rem 0;

      svg {
        width: 50%;
        height: 50%;
      }
    }

    @media (width < base.$smedium) {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      flex: 0 0 2.5rem;
      margin: -0.3rem 0.5rem 0 0.8rem;
      margin-right: 1rem;

      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
  &__header {
    @media (width > base.$smedium) {
      flex: 0 0 238px;
      order: -1;
      text-align: right;

      p {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }
  &__content {
    @media (width < base.$smedium) {
      flex: 0 0 100%;
      padding-left: 4rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.5;
    }
  }

  &__pos {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: bold;
    // color: var(--color-dark);
  }

  &__company {
    font-size: 1.2rem;
    padding-bottom: 1.3rem;
    margin-bottom: 1.3rem;
    font-weight: bold;
    // color: var(--color-dark);
    position: relative;

    &:after {
      content: '';
      display: block;
      height: 3px;
      width: 50px;
      background: var(--border-color);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
