@use 'styles/variables' as base;

.social__list {
  display: flex;
  width: 100%;
  justify-content: center;
  li {
    display: inline-block;
    margin: 0 1rem;
    padding: 0;
  }
  a {
    opacity: 0.5;
    &:hover,
    &:focus {
      opacity: 0.9;
    }
  }
  svg {
    fill: currentColor;
    width: var(--social-size, 1.5rem);
    height: var(--social-size, 1.5rem);
    @media (width > base.$smedium) {
      --social-width: 2rem;
    }
  }
}
