@use 'styles/variables' as base;

.intro {
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
  &--gradient {
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
    }
  }
  &__content {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    a {
      color: inherit;
      opacity: 0.8;
      border-color: var(--text-color);
      @media (width < base.$small) {
        padding: 0.7rem 1.5rem;
        letter-spacing: 0.1rem;
      }
    }
  }
  &__msg {
    animation: textIn 1.5s both var(--text-in);
    animation-delay: 250ms;
  }
  &__title {
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    animation: textIn 1.5s both var(--text-in);
    animation-delay: 500ms;
  }
  &__position {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    margin: 0 1rem 4em;
    animation: textIn 1.5s both var(--text-in);
    animation-delay: 750ms;
    span {
      opacity: 0.8;
    }
    @media (width < base.$smedium) {
      font-size: 0.9rem;
      line-height: 2rem;
    }
  }
  &__cta {
    animation: textIn 2s both var(--text-in);
    animation-delay: 1s;
    list-style: none;
  }

  &__social {
    padding: 0.5rem 0 2rem;
    animation: textIn 2s both var(--text-in);
    animation-delay: 1.5s;
  }
}


/* header.scss */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//home animation

.intro__content > *,
.intro__social {
  opacity: 0; /* start hidden */
  animation: fadeUp 1s ease forwards;
}

.intro__msg {
  animation-delay: 0.3s;
}

.intro__title {
  animation-delay: 0.5s;
}

.intro__position {
  animation-delay: 0.7s;
}

.intro__cta {
  animation-delay: 0.9s;
}

.intro__social {
  animation-delay: 1.5s;
}
