.hero__image {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

.intro__cta {
  li {
    + li {
      .button {
        border-left-color: transparent;
        &:hover {
          border-left-color: var(--base-color);
        }
      }
    }
  }
}

.intro__msg {
  color: var(--base-color);
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  //text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro__content {
  h1 {
    transition: all 0.3s ease-in-out;
  }
  .button {
    &:hover,
    &:focus {
      &:before,
      &:after {
        background-color: var(--base-color);
      }
    }
  }
}

/*! @{target: critical} */
.intro__position {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  //text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: 0 1rem 4em;
  span {
    + span {
      &:before {
        content: '|';
        text-align: center;
        display: inline-block;
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  @media (min-width: $smedium + 1) {
    font-size: 1.2rem;
    span + span:before {
      padding: 0 1.3rem;
    }
  }
  @media (max-width: $smedium) {
    font-size: 0.9rem;
    line-height: 2rem;
    flex-wrap: wrap;
    span + span:before {
      padding: 0 0.9rem;
    }
  }
}
