.animatedTextContainer {
	position: relative;
	--maskX: 0;
	--maskY: 50;
}

.animatedTextContent {
	cursor: pointer;
}


.animatedTextContentClone {
	position: absolute;
	top: 0;
	left: 0;
	h1 {
		color: lighten(#000000, 40%);
	}
	clip-path: polygon(0 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * .4%) 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * -.4%) 100%,0 100%)
}
