.section {
  padding: 3rem 1rem;
  &:nth-child(odd) {
    --theme-background: #fff;
  }
  &:nth-child(even) {
    --theme-background: #f5f5f5;
  }
  &[data-theme] {
    background-color: var(--theme-background);
    color: var(--theme-color);
  }
}

.inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 2rem;
}
