@use 'styles/variables' as base;
// TODO: update css

.section--contact {
  .section-intro h5 {
    color: var(--base-color);
  }
  form {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

/* contact form */
.contact-form {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  fieldset {
    border: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0px 1000px var(--theme-background) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input::-ms-clear {
  display: none;
}

.form-field {
  input,
  textarea {
    display: block;
    border: 0;
    outline: none;
    max-width: 100%;
    background: transparent;
    border-bottom: 1px solid currentColor;
    transition: all 0.3s ease-in-out;
    width: 100%;
    color: inherit;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1.5rem 1rem;
    &:focus {
      border-color: var(--base-color);
    }
    &.error {
      border-bottom-color: var(--base-color);
    }
  }
  span {
    position: absolute;
    text-indent: -9999px;
  }
  textarea {
    min-height: 10rem;
  }
  .submitform {
    display: block;
    letter-spacing: 0.2rem;
    width: 100%;
    background: var(--base-color);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 44px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    padding: 0.5rem;
    &:hover,
    &:focus {
      background: #8b0000;
    }
    @media (width > base.$smedium) {
      margin-top: 4rem;
      line-height: 4rem;
      font-size: 1.3rem;
    }
    @media (width <= base.$smedium) {
      margin-top: 2rem;
      line-height: 3rem;
      font-size: 1.2rem;
    }
  }
}

.contact-dialog {
  background-color: #f1f1f1;
  padding: 2em;
  border-radius: 2px;
  transition: 0.2s color;
  text-align: center;
  margin-top: 2rem;
  position: static;
  color: var(--modal-status, red);
  &[data-status='true'] {
    --modal-status: green;
  }
}
