$vicons-path: "assets/fonts/vicons/" !default;
$vicons-font-family: "vicons" !default;

// Fonts
@if $vicons-font-family=="vicons" {
    @font-face {
        font-family: '#{$vicons-font-family}';
        src :   url('#{$vicons-path}vicons.woff2?ver=6') format('woff2'),
                 url('#{$vicons-path}vicons.woff?ver=6') format('woff'),
                url('#{$vicons-path}vicons.ttf?ver=6') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

.vicon {
    font-family: 'vicons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$vicon-twitter: "\e009";
$vicon-facebook: "\e002";
$vicon-graduation: "\e004";
$vicon-bag: "\e001";
$vicon-instagram: "\e006";
$vicon-linkedin: "\e007";
$vicon-google: "\e003";
$vicon-github: "\e005";


.vicon-github {
    &:before {
        content: $vicon-github;
    }
}
.vicon-twitter {
    &:before {
        content: $vicon-twitter;
    }
}

.vicon-facebook {
    &:before {
        content: $vicon-facebook;
    }
}

.vicon-graduation {
    &:before {
        content: $vicon-graduation;
    }
}

.vicon-bag {
    &:before {
        content: $vicon-bag;
    }
}

.vicon-instagram {
    &:before {
        content: $vicon-instagram;
    }
}

.vicon-linkedin {
    &:before {
        content: $vicon-linkedin;
    }
}

.vicon-google {
    &:before {
        content: $vicon-google;
    }
}
